<%- include("partials/header") -%>

<div class="welcome-user">
	<h1>WELCOME <%=username%></h1>
	<p>STATISTICS OF FIR FILED VIZ. UPON CRIME COMMITTED</p>
	<a href="/logout"><button type="button">Logout</button></a>
	<a href="/dashboard"><button type="button">Dashboard</button></a>
</div>
<div class="chart-container">
    <h1>Suraksha Users on the basis of State & UTs</h1>
    <canvas class="pieChart" id="myChart" style="width:100%;max-width:1200px"></canvas>
    <hr style="height:2px;border-width:0;color:rgb(55, 13, 80);background-color:rgb(58, 18, 90)">
    <div class="other-maps">
        <a href="/piechart"><button type="button">CLICK TO SEE Distribution of ONLINE FIRs based on the Crime Category</button></a>
        </div>
    </div>
  </body>

<script>
    var xValues = ["Andaman - Nicobar", "Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh", "Chattisgarh","Daman and Diu","Goa","Gujarat","Haryana","Himachal Pradesh","J&K","Jharkhand","Karnataka","Kerela","Ladakh","Lakshadweep","MP","Maharashtra","Manipur","Meghalaya","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","TN","UP","WB"];
    var yValues = ["<%=arr[0].counts %>",
                 "<%=arr[1].counts %>",
                 "<%=arr[2].counts %>",
                 "<%=arr[3].counts %>",
                 "<%=arr[4].counts %>",
                 "<%=arr[5].counts %>",
                 "<%=arr[6].counts %>",
                 "<%=arr[7].counts %>",
                 "<%=arr[8].counts %>",
                 "<%=arr[9].counts %>",
                 "<%=arr[10].counts %>",
                 "<%=arr[11].counts %>",
                 "<%=arr[12].counts %>",
                 "<%=arr[13].counts %>",
                 "<%=arr[14].counts %>",
                 "<%=arr[15].counts %>",
                 "<%=arr[16].counts %>",
                 "<%=arr[17].counts %>",
                 "<%=arr[18].counts %>",
                 "<%=arr[19].counts %>",
                 "<%=arr[20].counts %>",
                 "<%=arr[21].counts %>",
                 "<%=arr[22].counts %>",
                 "<%=arr[23].counts %>",
                 "<%=arr[24].counts %>",
                 "<%=arr[25].counts %>",
                 "<%=arr[26].counts %>",
                 "<%=arr[27].counts %>",
                 "<%=arr[28].counts %>",
                 "<%=arr[29].counts %>"];
    var barColors = "rgb(174, 142, 196)";

    new Chart("myChart", {
        type: "bar",
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
        data: {
            labels: xValues,
            datasets: [{
                label: "No. of Users",
                backgroundColor: barColors,
                data: yValues
            }]
        }            
    });
</script>

</body>
</html>
