<%- include("partials/header") -%>

<div class="welcome-user">
	<h1>WELCOME <%=username%></h1>
	<p>STATISTICS OF FIR FILED VIZ. UPON CRIME COMMITTED</p>
	<a href="/logout"><button type="button">Logout</button></a>
	<a href="/dashboard"><button type="button">Dashboard</button></a>
</div>

<div class="chart-container">
	<h1>Online FIRs Filed Based on the Category Chosen</h1>
	<canvas class="pieChart" id="myChart" style="width:100%;max-width:700px"></canvas>
	<hr style="height:2px;border-width:0;color:rgb(55, 13, 80);background-color:rgb(58, 18, 90)">
	<div class="other-maps">
		<a href="/barchart"><button type="button">CLICK TO SEE USERS COMPOSITION WHO FILED FIRS BASED ON INDIAN STATE AND UTs</button></a>
	</div>
</div>
    
</body>

<script>
    var xValues = ["Status Dissemination", "Accident", "Property Issue", "Robbery", "Sexual Assualt", "Others"];
    var yValues = ["<%=arr[0].counts%>", "<%=arr[1].counts%>", "<%=arr[2].counts%>", "<%=arr[3].counts%>", "<%=arr[4].counts%>", "<%=arr[5].counts%>"];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145",
      "#2b5562"
    ];

    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
    });
</script>
</html>
